<section class="container criar-pensamentos ff-inter">
  <header class="header">
    <h2>Adicione um <br />pensamento novo:<br /></h2>
  </header>
  <form [formGroup]="form" *ngIf="form">
    <label for="conteudo">Pensamento</label>
    <input
      type="textarea"
      class="input"
      id="conteudo"
      placeholder="Digite o conteúdo"
      formControlName="conteudo"
    />
    <div
      class="mensagem__erro"
      *ngIf="form.get('conteudo')?.errors?.['required'] && form.get('conteudo')?.touched"
    >
      Pensamento é obrigatório
    </div>
    <div
      class="mensagem__erro"
      *ngIf="form.get('conteudo')?.errors?.['minlength'] && form.get('conteudo')?.touched"
    >
      Pensamento deve ter mais de 3 caracteres
    </div>
    <label for="autoria">Autoria</label>
    <input
      type="textarea"
      class="input"
      id="autoria"
      placeholder="Digite a autoria"
      formControlName="autoria"
    />
    <div
      class="mensagem__erro"
      *ngIf="form.get('autoria')?.errors?.['required'] && form.get('autoria')?.touched"
    >
      Autoria é obrigatório
    </div>
    <div
      class="mensagem__erro"
      *ngIf="form.get('autoria')?.errors?.['minlength'] && form.get('autoria')?.touched"
    >
      Autoria deve ter mais de 3 caracteres
    </div>
    <div
      class="mensagem__erro"
      *ngIf="form.get('autoria')?.errors?.['maxlength'] && form.get('autoria')?.touched"
    >
      Autoria não deve ter menos de 50 caracteres
    </div>
    <div
      class="mensagem__erro"
      *ngIf="form.get('autoria')?.errors?.['maiuscula'] && form.get('autoria')?.touched"
    >
      Autoria deve iniciar com uma letra maiuscula
    </div>
    <label for="modelo">Selecione o modelo do card</label>
    <div class="container-radio">
      <div class="radio-modelo">
        <label for="modelo1">
          <input
            type="radio"
            formControlName="modelo"
            id="modelo1"
            value="modelo1"
          />
          <div class="custom-radio">
            <span></span>
          </div>
          <span>Modelo 1</span>
        </label>
        Prévia:
        <div class="modelo modelo1 ff-roboto-mono">
          <img src="../../../../assets/imagens/modelo1.png" alt="Aspas azuis" />
          <p class="conteudo">{{ form.get("conteudo")?.value }}</p>
          <p class="autoria">{{ form.get("autoria")?.value }}</p>
        </div>
      </div>
      <div class="radio-modelo">
        <label for="modelo2">
          <input
            type="radio"
            formControlName="modelo"
            id="modelo2"
            value="modelo2"
          />
          <div class="custom-radio">
            <span></span>
          </div>
          <span>Modelo 2</span>
        </label>
        Prévia:
        <div class="modelo modelo2 ff-roboto-mono">
          <img
            src="../../../../assets/imagens/modelo2.png"
            alt="Aspas azul claro"
          />
          <p class="conteudo">{{ form.get("conteudo")?.value }}</p>
          <p class="autoria">{{ form.get("autoria")?.value }}</p>
        </div>
      </div>
      <div class="radio-modelo">
        <label for="modelo3">
          <input
            type="radio"
            formControlName="modelo"
            id="modelo3"
            value="modelo3"
          />
          <div class="custom-radio">
            <span></span>
          </div>
          <span>Modelo 3</span>
        </label>
        Prévia:
        <div class="modelo modelo3 ff-roboto-mono">
          <img
            src="../../../../assets/imagens/modelo3.png"
            alt="Aspas azul verdes"
          />
          <p class="conteudo">{{ form.get("conteudo")?.value }}</p>
          <p class="autoria">{{ form.get("autoria")?.value }}</p>
        </div>
      </div>
    </div>
    <div class="acoes">
      <button
        (click)="criarPensamento()"
        *ngIf="id === 0"
        [disabled]="form.invalid"
        [ngClass]="habilitarBotao()"
      >
        Salvar
      </button>
      <button
        class="botao"
        (click)="alterarPensamento()"
        *ngIf="id !== 0"
        [disabled]="form.invalid"
        [ngClass]="habilitarBotao()"
      >
        Alterar
      </button>
      <button class="botao" (click)="cancelarPensamento()">Cancelar</button>
    </div>
  </form>
</section>
