<section class="container">
  <header class="header d-flex">
    <div class="buscar-pensamentos">
      <input
        type="search"
        class="filtro"
        placeholder="O que você procura?"
        autofocus
        [(ngModel)]="filtro"
        name="filtro"
        (keyup)="buscarPensamento()"
      />
      <img
        src="../../../../assets//imagens//lupa.png"
        alt="Lupa azul"
        (click)="buscarPensamento()"
      />
    </div>
    <h2 class="ff-inter">Meu Mural</h2>
    <button routerLink="/criarPensamento" class="botao">
      Adicionar Pensamento
    </button>
  </header>
  <div class="mural" *ngIf="listaPensamentos.length > 0; else semPensamentos">
    <div *ngFor="let pensamento of listaPensamentos">
      <app-pensamento-card [pensamento]="pensamento"></app-pensamento-card>
    </div>
  </div>
</section>
<app-botao-carregar-mais
  (click)="carregarMaisPensametos()"
  [carregarMais]="carregarMais"
></app-botao-carregar-mais>
<ng-template #semPensamentos>
  <div class="ff-inter sem-pensamentos">
    <p>Ainda não há pensamentos criados!</p>
  </div>
</ng-template>
